{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/homepage.css">
    <title>SaFe Route</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

 <script src="https://code.jquery.com/jquery.js"></script>
 
{% endblock %}


{% block body %}

<div class="background-image"></div>
<div class="content">

    <h1>SaFe Route</h1>

    <p class="lead">Know your route.</p>

    <div id="homepage-address-input" class="container">
    <form action="/directions" method="GET">
    <h5>Starting Location</h5><input name="start-address" type="textbox" class="input-text">
    <h5>Ending Location</h5><input name="end-address" type="textbox" class="input-text">
    <br>
    <br>
    <input id="submit" type="submit" class="btn btn-md btn-primary" value="Get Directions">
    </form></div>

    <br><a href="/data-map" style="color: #333A56;">Full map of SF</a>

</div>

<footer>
    <p>Made with love, unicorns and happy thoughts.</p>
</footer>

{% endblock %}