{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/homepage.css">
    <title>SaFe Route</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

 <script src="https://code.jquery.com/jquery.js"></script>
 
{% endblock %}


{% block body %}

<div class="site-wrapper">
    <div class="site-wrapper-inner">

 <!--        <img src="/static/images/SF-Skyline.jpg"> -->

        <h1>SaFe Route</h1>

        <p class="lead">Know your route.</p>

      <form action="/directions" method="GET">
        <div id="homepage-address-input">
        <strong>Start: </strong><input name="start-address" type="textbox" class="input-text">
        <br>
        <strong>End: </strong><input name="end-address" type="textbox" class="input-text">
        <br>
        <input id="submit" type="submit" class="btn btn-lg btn-primary" value="Get Directions"></div>
      </form>

        <a href="/data-map">Full map of SF</a>

    </div>
</div>

<footer>
    <p>Made with love, unicorns and happy thoughts.</p>
</footer>

{% endblock %}