{% extends 'base.html' %}
{% block head %}
<title>Crime Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
      #right-panel {
        height: 100%;
        float: right;
        width: 390px;
        overflow: auto;
      }
      #map {
        margin-right: 400px;
      }
      @media print {
        #map {
          height: 500px;
          margin: 0;
        }
        #right-panel {
          float: none;
          width: auto;
        }
      }
    </style>

 <script src="https://code.jquery.com/jquery.js"></script>
 
{% endblock %}


{% block body %}
  
  <div id="address-input">
  <strong>Start:</strong><input id="start-address" type="textbox" value="683 sutter street">
  <br>
  <strong>End:</strong><input id="end-address" type="textbox" value="700 montgomery street">
  <br>
  <input id="submit" type="button" value="Get Directions"></div
>
  <div id="right-panel"></div>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAv622etcuWU5f7UHaPWS0yxRwIWbnDYA8"></script>
    <script src="/static/map.js"></script>
  <!--   <input type="hidden" id="data-key" value="{{data_key}}"> -->
    
{% endblock %}